* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 80px;
    border-bottom:1px solid gray ;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

header .title {
    height: 50%;
    display: flex;
    align-items: center;
}

header .title img {
    width: 70px;
    margin-right: 8px;
}
header .title span {
    font-size: 1.3em;
    color: gray;
}

header ul {
    display: flex;
    align-items: flex-end;
    list-style: none;
    height: 50%;
    width: 45%;
    justify-content: space-between;
}

header li a{
    text-decoration: none;
    color: gray;
    font-weight: 500;
    font-size: .9em;

}

.selected {
    border-bottom: 3px solid rgb(20, 107, 236);
    margin-bottom: -1px;

}
.selected a {
    color: rgb(20, 107, 236);
}

main {
    width: 55%;
    margin: 0 auto;
    margin-top: 120px;
    font-size: .9em;
    line-height: 25px;
}

main br {
    margin-bottom: 15px;
}

main a {
    color: blue;
}
main h2 {
    margin-bottom: 20px;
    margin-top: 30px;
}

main h3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

main li {
    margin-top: 20px;
    padding-left: 25px;
    margin-left: 10px;
}

footer {
    margin-top: 20px;
    background-color: #F5F5F5;
    width: 100%;
    height: 40px;
}

.footer-container {
    width: 55%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.footer-sx {
    width: 50%;
}

.footer-sx ul {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 0.7em;
    list-style: none;
    justify-content: space-between;
}

.footer-sx a {
    text-decoration: none;
    color: gray;
}

.point::before {
    content: "\00B7";
    margin-right: 7px;
}

.footer-dx {
    width: 50%;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.footer-dx label {
    display: flex;
}
.footer-dx select {
    width: 30%;
    margin-left: 8px;
}